body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Custom CSS Start */

/* Place-holder input custom */
input.placeholder-custom::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}

input.placeholder-custom:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

input.placeholder-custom::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

input.placeholder-custom:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}


/* Container upload gambar custom */
.container-input-gambar {
  /* display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem; */

  cursor: pointer;
}

.container-input-gambar:active {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.image-campaign-main {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image-bukti-transfer {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card-title-main-campaign {
  white-space: nowrap;
  /* Mencegah teks untuk pindah baris */
  overflow: hidden;
  /* Mengatur overflow untuk memotong teks yang melebihi container */
  text-overflow: ellipsis;
  /* Menambahkan tanda elipsis (...) di akhir teks yang dipotong */
}

.img-detail {
  object-fit: cover;
}


/* Detail guide */
.container-text-wrapping {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Utilities Start */
.required_field {
  color: red;
}

.btn-success-young,
.btn-success-young:hover,
.btn-success-young:active {
  color: #fff;
  background-color: #4FF415;
  border-color: #4FF415;
}  

.btn-purple {
  color: #fff;
  background-color: #A42EE5;
  border-color: #A42EE5;
}
.btn-teal {
  color: #fff;
  background-color: #008080;
  border-color: #008080;
}
.btn-brilliant-rose {
  color: #fff;
  background-color: #FF52B6;
  border-color: #FF52B6;
}
.btn-steel-pink {
  color: #fff;
  background-color: #CC30D9;
  border-color: #CC30D9;
}
.btn-ruber {
  color: #fff;
  background-color: #D1436D;
  border-color: #D1436D;
}
.btn-blue-violet {
  color: #fff;
  background-color: #8B23E6;
  border-color: #8B23E6;
}
.btn-magic-potion {
  color: #fff;
  background-color: #F44E5A;
  border-color: #F44E5A;
}

.btn-secondary-young,
.btn-secondary-young:hover,
.btn-secondary-young:active {
  color: #000;
  background-color: #D9D9D9;
  border-color: #D9D9D9;
}

.bg-secondary-young {
  color: #000;
  background-color: #f0f1f6;
}

.placeholder-start::placeholder {
  text-align: left;
}

  @media screen and (max-width: 577px) {
    .mt-2-small {
      margin-top: 2rem !important;
    }

    .mt-3-small {
      margin-top: 3rem !important;
    }

    .fs-3-min-small {
      font-size: 0.6rem !important;
    }

    .pb-0-small {
      padding-bottom: 0 !important;
    }

    .mb-0-small {
      margin-bottom: 0 !important;
    }

    .pt-2-small {
      padding-top: 2rem !important;
    }
    .pt-1-small {
      padding-top: 1rem !important;
    }
    .pt-0-5-small {
      padding-top: 0.5rem !important;
    }

    .pt-0-small {
      padding-top: 0 !important;
    }
    .pl-0-small {
      padding-left: 0 !important;
    }

    .px-0-small {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @media screen and (max-width: 754px) {
    
    .fs-7-min-small {
      font-size: 0.7rem !important;
    }

    .w-30px-small {
       width: 30px !important;
    }

    .order-1-small {
      order: 1 !important;
    }
    .order-2-small {
      order: 2 !important;
    }
  }
/* Utilities End */

/* Custom CSS End */